{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="no-sidebar">
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
	{% if site.alert_box %}
	<article id="alert-box">
		<p>
		<strong>Note:</strong> This guide is intended for the <a href="http://ona2012.sched.org/event/4e894c10b238f8e99210261d941f6576" title="ONA12: Introduction to Practical Programming">9/20/2012 ONA practical programming class</a> and is a work in progress. Feel free to add comments or <a href="https://github.com/learnwhytocode/learnwhytocode.github.com">visit the Github repo</a>. Follow me at <a href="https://www.twitter.com/dancow">@dancow for updates</a>.
			
		</p>
	</article>	
	{% endif %}
	
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
