// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


h4{
	font-size: 1.1em;
	margin-top: 1.0em;
}

p code, li code {
	color: #333;
	padding: 0 0.5em;
}

article#alert-box{
	text-align: left;
	font-size: 13px;
	background: #edd;
	padding-top: 0px;
	padding-bottom: 0px;
}

.alert-note{
	padding: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #444;
	background: #fff;
	border: thin dashed #933;
}

article#alert-box p{
	padding: 5px 10px;
	font-family: $sans;
	line-height: 18px;
	margin: 0 0 0 0;
}

div.hed{
	font-size: 26px;
	font-weight: 400;
}

div.hed a, div.hed a:link, div.hed a:visited{
	color: #44f;
	text-decoration: none;
}

li.post-listing{
	margin-bottom: 24px;
}

.lesson-matter .q{
	font-size: 17px;
	color: #443;

}
.lesson h1{
	margin-bottom: 10px;
}
.lesson h2{
	border-top: thin solid #888;
	margin-top: 50px;
	padding-top: 40px
}



div#main, div#content article{
/*	background: url("/images/light_toast.png");
	background-repeat: repeat;*/
}

p.meta a.pagin{
	font-size: 20px;
}

.read-on a:link, .read-on a:visited{
	font-size: 14px;
	margin: 1px 0px;
	color: $link-color;
}

.imgwrap{
	width: 100%;
	text-align: center;
}

.imgwrap img{
	margin: auto auto;
}